# Cleaning The Board Game Dataset!

>I'll be using this python file to clean the dataset

### Importing Libraries

In [3]:
import numpy as np  # numpy! -- maths
import seaborn as sns # visualisation!
import matplotlib.pyplot as plt # visualisation!
import pandas as pd # dataframes & data analysis
import re # regular expressions!
import ast # Helps convert to the correct data type

### Creating a Pandas Dataframe of the Board Game Data

In [5]:
df = pd.read_csv('Raw Board Game Data.csv')

### Formatting Board Game Titles Correctly

In [7]:
# Replacing the unicode encoded characters with the correct character
df['Name'] = df['Name'].str.replace(r'\\u2013', '-', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00e9', 'é', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00e4', 'ä', regex=True)
df['Name'] = df['Name'].str.replace(r'\\/', '/', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00ef', 'ï', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00c8', 'È', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00f4', 'ô', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00e8', 'è', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00e1', 'á', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00e0', 'à', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u2665\\ufe0e', '♥︎', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00ea', 'ê', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u2082', '₂', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u00f9', 'ù', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u014d', 'ō', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u201c', '“', regex=True)
df['Name'] = df['Name'].str.replace(r'\\u201d', '”', regex=True)

In [8]:
df['Description'] = df['Description'].str.replace(r'\\u2013', '-', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00e9', 'é', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00e4', 'ä', regex=True)
df['Description'] = df['Description'].str.replace(r'\\/', '/', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00ef', 'ï', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00c8', 'È', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00f4', 'ô', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00e8', 'è', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00e1', 'á', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00e0', 'à', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u2665\\ufe0e', '♥︎', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00ea', 'ê', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u2082', '₂', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00f9', 'ù', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00f6', 'ō', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u201c', '“', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u201d', '”', regex=True)
df['Description'] = df['Description'].str.replace(r'\\u2019', "'", regex=True)
df['Description'] = df['Description'].str.replace(r'\\u2019', "ö", regex=True)
df['Description'] = df['Description'].str.replace(r'\\u2014', "—", regex=True)
df['Description'] = df['Description'].str.replace(r'\\u2018', "‘", regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00e2', "â", regex=True)
df['Description'] = df['Description'].str.replace(r'\\u00ed', "í", regex=True)

In [9]:
# Fixing a typo in the column names
df = df.rename(columns={'BBG_Rating': 'BGG_Rating'})

### Preliminary Data Checks

In [11]:
df.head(5)

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
0,Brass: Birmingham,2018,"Build networks, grow industries, and navigate ...",2,4,60,120,14,3.870593,8.58540,"[('2726', 'age-of-reason'), ('1021', 'economic...","[('2040', 'hand-management'), ('2902', 'income..."
1,Pandemic Legacy: Season 1,2015,Mutating diseases are spreading around the wor...,2,4,60,60,13,2.829530,8.52063,"[('1084', 'environmental'), ('2145', 'medical')]","[('2001', 'action-points'), ('2023', 'cooperat..."
2,Ark Nova,2021,"Plan and build a modern, scientifically manage...",1,4,90,150,14,3.774865,8.53443,"[('1089', 'animals'), ('1021', 'economic'), ('...","[('2689', 'action-queue'), ('2875', 'end-game-..."
3,Gloomhaven,2017,Vanquish monsters with strategic cardplay. Ful...,1,4,60,120,14,3.912514,8.57326,"[('1022', 'adventure'), ('1020', 'exploration'...","[('2689', 'action-queue'), ('2839', 'action-re..."
4,Twilight Imperium: Fourth Edition,2017,"Build an intergalactic empire through trade, r...",3,6,240,480,14,4.330113,8.58532,"[('1015', 'civilization'), ('1021', 'economic'...","[('2838', 'action-drafting'), ('2021', 'area-i..."

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              1000 non-null   object
 1   Release_Year      1000 non-null   int64
 2   Description       1000 non-null   object
 3   Minimum_Players   1000 non-null   int64
 4   Maximum_Players   1000 non-null   int64
 5   Minimum_Time      1000 non-null   int64
 6   Maximum_Time      1000 non-null   int64
 7   Age_Rating        1000 non-null   int64
 8   Complexity_Score  1000 non-null   float64
 9   BGG_Rating        1000 non-null   float64
 10  Game_Categories   1000 non-null   object
 11  Game_Mechanics    1000 non-null   object
dtypes: float64(2), int64(6), object(4)
memory usage: 93.9+ KB

No null-values! This was expected since data unable to be found was stored as "Unknown".

### Checking for Unknowns

The only column that contains unknowns is the 'Description' column!

In [15]:
# These occurred because the games simply lacked short descriptions on BGG
df[df['Description'] == 'Unknown']

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
587,Blood Bowl: Living Rulebook,2004,Unknown,2,2,120,120,12,3.172932,7.84598,"[('1044', 'collectible-components'), ('1042', ...","[('2072', 'dice-rolling'), ('2676', 'grid-move..."
750,Star Wars: X-Wing Miniatures Game - The Force ...,2015,Unknown,2,2,30,45,14,2.844828,7.72554,"[('2650', 'aviation-flight'), ('1044', 'collec...","[('2689', 'action-queue'), ('2854', 'critical-..."
901,Unlock!: Epic Adventures,2019,Unknown,1,6,60,60,10,2.157895,7.70138,"[('1002', 'card-game'), ('1020', 'exploration'...","[('2023', 'cooperative-game'), ('2831', 'real-..."

In [16]:
# These occurred because the games had their descriptions encapsulated by "", causing issues with formatting
df[df['Description'].str.len() <= 5]

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
22,Clank! Legacy: Acquisitions Incorporated,2019,\,2,4,90,120,13,2.732026,8.52868,"[('1022', 'adventure'), ('1010', 'fantasy'), (...","[('2664', 'deck-bag-and-pool-building'), ('290..."
241,The Taverns of Tiefenthal,2019,\,2,4,60,60,12,2.681698,7.57671,"[('1002', 'card-game'), ('1017', 'dice'), ('10...","[('2664', 'deck-bag-and-pool-building'), ('207..."

In [17]:
# These occurred because the description contained a "" causing it to be cut off
df[df['Description'].str.contains(r'\\', regex=True)]

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
22,Clank! Legacy: Acquisitions Incorporated,2019,\,2,4,90,120,13,2.732026,8.52868,"[('1022', 'adventure'), ('1010', 'fantasy'), (...","[('2664', 'deck-bag-and-pool-building'), ('290..."
43,Pax Pamir: Second Edition,2019,Swing the tides of \,1,5,45,120,13,3.857923,8.16313,"[('1021', 'economic'), ('1094', 'educational')...","[('2001', 'action-points'), ('2080', 'area-maj..."
58,Sleeping Gods,2021,Voyages of the steamship \,1,4,60,1200,13,3.245495,8.16590,"[('1022', 'adventure'), ('1020', 'exploration'...","[('2001', 'action-points'), ('2023', 'cooperat..."
241,The Taverns of Tiefenthal,2019,\,2,4,60,60,12,2.681698,7.57671,"[('1002', 'card-game'), ('1017', 'dice'), ('10...","[('2664', 'deck-bag-and-pool-building'), ('207..."
357,Bunny Kingdom,2017,"Adorable bunnies build cities, harvest carrots...",2,4,40,60,12,2.298893,7.42268,"[('1089', 'animals'), ('1035', 'medieval'), ('...","[('2080', 'area-majority-influence'), ('2984',..."

We have 8 games with missing descriptions! 3 indicated by "Unknown", 2 indicated by "\\", and 3 incomplete. Since it's so few, Filling them in manually is easy.

Taking extracts from their longer BGG descriptions or games from the same series:

* **Clank! Legacy: Acquisitions Incorporated** --> Go forth, be bold, and ACQUIRE!" in this campaign version of "Clank!

* **The Taverns of Tiefenthal** --> Build your way to the best Tavern in town with this deckbuilding dice drafting game.

* **Blood Bowl: Living Rulebook** --> Game of Rugby/Football as imagined in a fantasy world of orcs, elves, beastmen.

* **Star Wars: X-Wing Miniatures Game – The Force Awakens Core Set** --> Pilot your ships in tight arcs to take out the enemy! The universe can be yours.

* **Unlock!: Epic Adventures** --> Escape room scenarios: The Seventh Screening; The Dragon's Seven Tests; Mission #07.

* **Pax Pamir: Second Edition** --> Swing the tides of "The Great Game" as countries vie for control of Afghanistan.

* **Sleeping Gods** --> Voyages of the steamship "Manticore" and her crew on the Wandering Sea.

* **Bunny Kingdom** -->	Adorable bunnies build cities, harvest carrots, and go on missions to be "Big Ears!"

In [19]:
# Clank! Legacy: Acquisitions Incorporated
df.loc[22, 'Description'] = 'Go forth, be bold, and ACQUIRE!" in this campaign version of "Clank!'

# Pax Pamir: Second Edition
df.loc[43, 'Description'] = 'Swing the tides of "The Great Game" as countries vie for control of Afghanistan.'

# Sleeping Gods
df.loc[58, 'Description'] = 'Voyages of the steamship "Manticore" and her crew on the Wandering Sea.'

# The Taverns of Tiefenthal
df.loc[241, 'Description'] = 'Build your way to the best Tavern in town with this deckbuilding dice drafting game.'

# Bunny Kingdom
df.loc[357, 'Description'] = 'Adorable bunnies build cities, harvest carrots, and go on missions to be "Big Ears!"'

# Blood Bowl: Living Rulebook
df.loc[587, 'Description'] = 'Game of Rugby/Football as imagined in a fantasy world of orcs, elves, beastmen.'

# Star Wars: X-Wing Miniatures Game – The Force Awakens Core Set
df.loc[750, 'Description'] = 'Pilot your ships in tight arcs to take out the enemy! The universe can be yours.'

# Unlock!: Epic Adventures
df.loc[901, 'Description'] = "Escape room scenarios: The Seventh Screening; The Dragon's Seven Tests; Mission #07."

### Checking for Empty Categories/Mechanics

In [21]:
df[(df['Game_Mechanics'] == '[]') | (df['Game_Categories'] == '[]')]

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
81,Azul,2017,Artfully embellish the walls of your palace by...,2,4,30,45,8,1.766294,7.73667,[],[]
300,Kingdomino,2016,Build a kingdom with varied terrains on domino...,2,4,15,25,8,1.232413,7.30152,[],[]
701,HITSTER,2022,Listen to music hits and take turns guessing w...,2,10,30,30,16,1.011364,7.63177,"[('1002', 'card-game'), ('1054', 'music'), ('1...",[]

We have 3 games with missing Mechanics, 2 of which are missing Categories! Again, filling them in manually is easy.

Taking the missing values directly from BGG:
* **Azul**
  * **Game_Categories** --> [('1009', 'abstract-strategy'), ('1028', 'puzzle'), ('1070', 'renaissance')]
  * **Game_Mechanics** --> [('2875', 'end-game-bonuses'), ('2041', 'open-drafting'), ('2048', 'pattern-building'), ('2004', 'set-collection'), ('2002', 'tile-placement'), ('2829', 'turn-order-claim-action')]
* **Kingdomino**
  * **Game_Categories** --> [('1029', 'city-building'), ('1035', 'medieval'), ('1086', 'territory-building')]
  * **Game_Mechanics** --> [('2041', 'open-drafting'), ('2002', 'tile-placement'), ('2826', 'turn-order-stat-based')]
* **HITSTER**
  * **Game_Mechanics** --> [('2038', 'singing')]

In [23]:
# Azul
df.loc[81, 'Game_Categories'] = "[('1009', 'abstract-strategy'), ('1028', 'puzzle'), ('1070', 'renaissance')]"
df.loc[81, 'Game_Mechanics'] = "[('2875', 'end-game-bonuses'), ('2041', 'open-drafting'), ('2048', 'pattern-building'), ('2004', 'set-collection'), ('2002', 'tile-placement'), ('2829', 'turn-order-claim-action')]"
# Kingdomino
df.loc[300, 'Game_Categories'] = "[('1029', 'city-building'), ('1035', 'medieval'), ('1086', 'territory-building')]"
df.loc[300, 'Game_Mechanics'] = "[('2041', 'open-drafting'), ('2002', 'tile-placement'), ('2826', 'turn-order-stat-based')]"
# HITSTER
df.loc[701, 'Game_Mechanics'] = "[('2038', 'singing')]"

### Checking Other Odd Features

In [25]:
df[(df['Minimum_Time'] == 0) | (df['Maximum_Time'] == 0)]

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
446,Chess,1475,Checkmate your opponent in this timeless abstr...,2,2,0,0,6,3.655113,7.22167,"[('1009', 'abstract-strategy')]","[('2676', 'grid-movement'), ('2846', 'once-per..."
592,Aeon Trespass: Odyssey,2022,"Tame the Titans! Arm, evolve and pilot them to...",1,4,90,0,12,4.736986,9.03015,"[('1022', 'adventure'), ('1050', 'ancient'), (...","[('2841', 'command-cards'), ('2023', 'cooperat..."

We have 2 games with **interesting** play time suggestions.

I will be changing the times based on search results for the games.
* **Chess** --> 1-90 Minutes (Based on average chess gameplay)
* **Aeon Trespass: Odyssey** --> 90-1200 Minutes (Campaign style game so matched to other campaign games)

In [27]:
# Chess
df.loc[446, 'Minimum_Time'] = 1
df.loc[446, 'Maximum_Time'] = 90
# Aeon Trespass: Odyssey
df.loc[592, 'Maximum_Time'] = 1200

### Fixing Some Missing Age Ratings

In [29]:
df[df['Age_Rating'] < 5]

,Name,Release_Year,Description,Minimum_Players,Maximum_Players,Minimum_Time,Maximum_Time,Age_Rating,Complexity_Score,BGG_Rating,Game_Categories,Game_Mechanics
533,Fire in the Lake,2014,"Play as the USA, VC, ARVN, or NVA to control V...",1,4,180,180,0,4.145270,8.06421,"[('1102', 'civil-war'), ('1069', 'modern-warfa...","[('2080', 'area-majority-influence'), ('2072',..."
975,Washington's War,2010,Classic card-driven game. Free the Patriots or...,2,2,90,90,0,2.881919,7.60555,"[('2726', 'age-of-reason'), ('1075', 'american...","[('2080', 'area-majority-influence'), ('2018',..."

We have 2 games with age ratings of 0.

I will be changing the ratings based on BGG's community age ratings for the games.

* **Fire in the Lake** --> 14
* **Washington's War** --> 12

In [31]:
df.loc[533, 'Age_Rating'] = 14
df.loc[975, 'Age_Rating'] = 12

### Dealing with when a games Minimum_Time == Maximum_Time

In [33]:
mask = df['Minimum_Time'] == df['Maximum_Time']

# Adjust the min_time and max_time values where the condition is met
df.loc[mask, 'Minimum_Time'] -= 20
df.loc[mask, 'Maximum_Time'] += 20

df.loc[df['Minimum_Time'] < 5, 'Minimum_Time'] = 5

### Adding in Each Game's Official BGG Rank

In [35]:
df['BGG_Rank'] = range(1, len(df) + 1)

### Converting the Categories and Mechanics into a Workable List

In [37]:
df['Game_Categories'] = df['Game_Categories'].apply(lambda x: [cat[1] for cat in ast.literal_eval(x)])
df['Game_Mechanics'] = df['Game_Mechanics'].apply(lambda x: [mech[1] for mech in ast.literal_eval(x)])

### Rounding the Complexity Score and BGG Rating

In [39]:
df['Complexity_Score'] = df['Complexity_Score'].apply(lambda x: round(x, 1))
df['BGG_Rating'] = df['BGG_Rating'].apply(lambda x: round(x, 2))

### Make a New Column to Classify Complexity

In [41]:
def classify_complexity(score):
    if 1.0 <= score <= 2:
        return 'Light'
    elif 2 < score <= 4:
        return 'Medium'
    elif 4 < score <= 5.0:
        return 'Heavy'

df['Complexity_Category'] = df['Complexity_Score'].apply(classify_complexity)

### Converting the DF to a New .csv File

In [43]:
df.to_csv('Board Game Data.csv', index=False)